.box{
    border: 1px solid;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: green;
    color: white;
}

.container{
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    background: green;
    width: 100px;
    height: 30px;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47% ;
    animation: btn 2s infinite;
    border-radius: 10px;
    
}
/* @keyframes btn{
    0%{
        background: linear-gradient(0deg, crimson, blue);
        
    }
    25%{
        background: linear-gradient(50deg,crimson, blue);
    }
    50%{
        background: linear-gradient(150deg,crimson, blue);

    }
    75%{
        background: linear-gradient(250deg, crimson, blue);
       
    }
    100%{
       
        background: linear-gradient(360deg, crimson, blue);
        
    }
} */